server{
    listen 80;
    server_name proyecto-jalmonaci.ddns.net;

    location / {
        proxy_pass http://Portal:80;
        erro_log /var/log/portal_error.log;
    }
    
    location /ERP {
        proxy_pass http://ERP:80;
        erro_log /var/log/portal_error.log;
    }

    location /Factura {
        proxy_pass http://Factura:80;
        erro_log /var/log/portal_error.log;
    }
}