server{
    listen 80 http2;
    server_name proyecto-jalmonaci.ddns.net

    location / {
        proxy_pass http://Portal
        erro_log /var/log/portal_error.log
    }
    
    location /ERP{
        proxy_pass http://ERP
        erro_log /var/log/portal_error.log
    }

    location /Factura{
        proxy_pass http://Factura
        erro_log /var/log/portal_error.log
    }
}